.contacts-container {
    display: flex;
    flex-direction: column;
    margin-top: 180px;
    justify-content: center;
    align-items: center;
}

.contacts-container h2 {
    font-size: 1.4rem;
    margin-bottom: 80px;
}

.contacts-container .error-message {
    margin-bottom: 30px;
    color: red;
}

.contacts-form button {
    cursor: pointer;
    background-color: rgb(27, 22, 195);
    border: none;
    border-radius: 10px;
    padding: 10px;
    width: 100px;
    font-size: 1.1rem;
    color: rgb(246, 246, 246);
    margin-top: 40px;
}

.contacts-form button:hover {
    transform: scale(1.1);
    transition: transform 0.3s ease;
    cursor: pointer;
}

.contacts-form {
    display: flex;
    flex-direction: column;
    gap: 25px;
    justify-content: center;
}

.container-input {
    display: flex;
    align-items: center;
    gap: 10px;
}

.contacts-form textarea { 
    border: 2px solid rgb(77, 214, 184);
    padding: 10px;
    border-radius: 10px;
    resize: none;
    width: 470px;
    height: 150px;
}

.container-input input {
    border: 2px solid rgb(84, 183, 118);
    border-radius: 10px;
    padding: 7px;
}

.contacts-footer {
    display: flex;
    flex-direction: column;
    margin-top: 100px;
    margin-bottom: 50px;
    align-items: center;
}

.email-and-phone p {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: 10px;
}

.email-and-phone p i {
    font-size: 1.7rem;
    color: rgb(211, 162, 17);
}

/*Responsivity*/
@media (max-width: 1110px) {
    .contacts-container {
        flex-direction: column;
        margin-top: 140px;
    }

    .contacts-container h2 {
        font-size: 1.1rem;
        margin-bottom: 50px;
    }

    .contacts-form button {
        font-size: 1rem;
        margin-top: 35px;
    }

    .contacts-form {
        gap: 15px;
    }
}

@media (max-width: 650px) {
    .contacts-container {
        margin-top: 100px;
    }

    .contacts-container h2 {
        font-size: 1rem;
    }

    .container-input {
        flex-direction: column;
    }

    .container-input p {
        font-size: 0.8rem;
    }
}

@media (max-width: 525px) {
    .contacts-container .error-message {
        font-size: 0.8rem;
    }

    .contacts-form button {
        width: 150px;
        height: 40px;
    }

    .contacts-form {
        gap: 30px;
    }

    .contacts-form textarea {
        font-size: 0.8rem;
        width: 100%;
    }

    .contacts-footer h3 {
        font-size: 0.4rem;
    }

    .email-and-phone p {
        font-size: 0.8rem;
    }

    .email-and-phone p i {
        font-size: 1.4rem;
    }
}
